      <nav class="header navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="row">
            <div class="header-left col-md-6">
              <a class="navbar-brand" href="/"><%= image_tag 'phimma-logo', :width => '200', :height => '37' %></a>
            </div>
            <div class="header-right col-md-6">
              <div class="top-header-search header-right-box">
                <div class="top-search-content">
                  <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="検索する..." />
                  </div>
                </div>
              </div>
              <% if user_signed_in? %>
                <div class="header-right-login header-right-box">
                  <%= link_to '設定変更', edit_user_registration_path, class: "btn btn-default login-btn primary-pink" %>
                </div>
                <div class="header-right-login header-right-box">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-default signup-btn sub-blue" %>
                </div>
              <% else %>
                <div class="header-right-login header-right-box">
                  <%= link_to 'ログイン', new_user_session_path, class: "btn btn-default login-btn primary-pink" %>
                </div>
                <div class="header-right-signup header-right-box">
                  <%= link_to '新規会員登録', new_user_registration_path, class: "btn btn-default signup-btn sub-blue" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav><!-- Header -->